<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.detectlist.mapper.DetectProjectMapper">

    <!--更改申请项目的审批状态,将未审批改为已审批-->
    <update id="updateProjectDataStatusByProjectId">
        update
            detect_request
        set
            data_status = #{dataStatus}
        where
            id = #{projectId}
    </update>

</mapper>
