<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.sample.mapper.SamplePriceInfoMapper">
    
    <resultMap type="SamplePriceInfo" id="SamplePriceInfoResult">
        <result property="sampleId"    column="sample_id"    />
        <result property="sampleName"    column="sample_name"    />
        <result property="samplePrice"    column="sample_price"    />
        <result property="id"    column="id"    />
    </resultMap>

    <sql id="selectSamplePriceInfoVo">
        select sample_id, sample_name, sample_price, id from sample_price_info
    </sql>

    <select id="selectSamplePriceInfoList" parameterType="SamplePriceInfo" resultMap="SamplePriceInfoResult">
        <include refid="selectSamplePriceInfoVo"/>
        <where>  
            <if test="sampleId != null  and sampleId != ''"> and sample_id = #{sampleId}</if>
            <if test="sampleName != null  and sampleName != ''"> and sample_name like concat('%', #{sampleName}, '%')</if>
            <if test="samplePrice != null "> and sample_price = #{samplePrice}</if>
        </where>
    </select>
    
    <select id="selectSamplePriceInfoById" parameterType="String" resultMap="SamplePriceInfoResult">
        <include refid="selectSamplePriceInfoVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSamplePriceInfo" parameterType="SamplePriceInfo">
        insert into sample_price_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sampleId != null and sampleId != ''">sample_id,</if>
            <if test="sampleName != null">sample_name,</if>
            <if test="samplePrice != null">sample_price,</if>
            <if test="id != null">id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sampleId != null and sampleId != ''">#{sampleId},</if>
            <if test="sampleName != null">#{sampleName},</if>
            <if test="samplePrice != null">#{samplePrice},</if>
            <if test="id != null">#{id},</if>
         </trim>
    </insert>

    <update id="updateSamplePriceInfo" parameterType="SamplePriceInfo">
        update sample_price_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="sampleId != null and sampleId != ''">sample_id = #{sampleId},</if>
            <if test="sampleName != null">sample_name = #{sampleName},</if>
            <if test="samplePrice != null">sample_price = #{samplePrice},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSamplePriceInfoById" parameterType="String">
        delete from sample_price_info where id = #{id}
    </delete>

    <delete id="deleteSamplePriceInfoByIds" parameterType="String">
        delete from sample_price_info where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>